# Не добавляем виртуальную среду
venv/
.env

# Не добавляем базу данных
*.sqlite3
db.sqlite3

# Не добавляем кеш Питона
__pycache__/
*.pyc
*.pyo
*.pyd

# Не добавляем IDE
.vscode/
.idea/
*.swp
*.swo

# Не добавляем статические файлы (если они соберутся в результате разработки)
staticfiles/
media/
